/*Main HTML Parts*/
body{
   margin: 0 0 0 0;
   height: 100%;
}

.navbar-inverse, .footer-background{
   background-color: white;
   background-image: none;
}


#main_body{
	height: 100%;
    padding-top: 50px;
    
}   

.content {   
   /* margin-bottom:50px; */
   
   min-height: 500px;
   padding: 10px;
	
}


#main_body div {
  /*box-sizing: border-box;*/
}


.background-clear {
   /*opacity: 0.5;*/
   background: rgba(51, 51, 51,0.75);
}

#attribution_tag {
   position: absolute;
   right: 0;
   opacity: 1.0;
}

.center_element {
   position: absolute;
   margin: 0 auto;
}


/* Section formating */

.section {
    
    min-height:100vh;
	margin: 0 0 0 0;
	padding: 1px;
}


.section h1 {
  text-align:center;
  font-family: 'Quicksand', Ariel;
  font-weight: bold;

}

.section h2 {
  text-align:center;
  font-family: 'Quicksand', Ariel;

}

.section h3 {
  font-family: 'Quicksand', Ariel;
}


.section p {
  text-align: justify;
  text-justify: auto;
}

.section > div {
  /*padding-bottom: 10px;*/
}

.section > .text-content {
  padding: 10px;
  background: rgba(222,222,222,0);
  color:black;
 
  overflow:auto;
}

/*Main section*/

/* ---- particles.js container ---- */

#particles-js{
  height: 100%;
  width: 100%;
  background-color: black /*#3284BF*/;
  background-image: url('');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#main {
	height:100vh;
	width: 40%;
	margin: 0 0 0 0;
	overflow: hidden;
	
	
    position:fixed;
    float:left;
    
    /*background: black url(../images/vista.jpg) no-repeat center center scroll;
    background-size: cover;
    */
}


#main .title {
	position: absolute;
	width: 100%;
	top: 0;
	margin-top: 10%;
	font-family: 'Open Sans', Arial;
	
	color:white;
}

#main .pic {
	border-radius: 50%;
	margin: 0 auto;
    width: 300px;
    height: 300px;
    
	background-image: url(../images/mypic.jpg);
	background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
}


/* Other sections*/

#other-sections {
    width: 60%;
    float:right;
}



#aboutme {
   /*background-color: #777777;*/
   background-color: white;
}

.life-point {
    width:100%;
    margin-top: 50px;
    min-height: 150px;
    
    /*display: flex;*/
    overflow:hidden;
}

.point-image {
    width: 150px;
    height: 150px;
}


.point-content {
    min-height: 150px;
    overflow:hidden;
    margin:auto;
}

.point-content p {

    font-size:16px;
    /*font-size:1.5vw;*/
}




#adventures {
   min-height: 50vh;
   
   /*background-color: #999999;*/
   background-color: #ADD8E6;
   
}

#photos {
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           0px;  
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100%;
}

#portfolio {
   /*background-color:#777777;*/
}

.position {
	float:left;
}

.dates {
	float: right;
}

#contact {

    min-height:30vh;
    background-color:#ADD8E6;
}

#icons {
    width: 100%;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}


.contact-btn {
    display: inline-block;
    vertical-align: top;
    
    vertical-align: top;
    display: inline-block;
    *display: inline;
    
    text-decoration:none;
}


.content_background {
   position: absolute;
   width: 100%;
   background-color: rgba(0,0,0,0.5);;
   
}

.content_background:after {
   opacity: 0.5;
}

/* Portfolio content */
.hack-bullet {
  position: relative;
}

.hack-bullet:before {
    content: "\f069";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0;
}


  
  /* Sticky Footer */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 20px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
  background-color: #999999;
  
}



/* Responsive Design */

/* Large Devices, Wide Screens */
	@media only screen and (max-width : 1200px){
		#other-sections {
			position: relative;
			width: 100%;
			float: none;
		}
		
		#main { 
			position: relative;
			width:100%;
			float: none; 
		}
	}
 
	/* Medium Devices, Desktops */
	@media only screen and (max-width : 992px){
	}
 
	/* Small Devices, Tablets */
	@media only screen and (max-width : 768px){
		
		.media-left { 
			float: none;
			display: block; 
		}
		
		.point-image {
			float:none;
			margin: auto;
			margin-bottom: 10px;
		}
		
		#photos {
			-moz-column-count:    2;
			-webkit-column-count: 2;
			column-count:         2;
		}
		
	}
 
	/* Extra Small Devices, Phones */
	@media only screen and (max-width : 480px){
	
		#photos {
			-moz-column-count:    1;
			-webkit-column-count: 1;
			column-count:         1;
		}
 
	}
 
	/* Custom, iPhone Retina */
	@media only screen and (max-width : 320px){
 
	}

